.section__projects {
  max-width: 1440px;
  margin: 0 auto;
}

.projects__title {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 100px;
}

.project {
  position: relative;
  padding-left: 50px;
  max-width: 1200px;
  background-image: url("../img/BGHeader.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 800px;
  margin-inline: auto;
  margin-bottom: 100px;
}

.project__aniclot {
  position: relative;
  background-image: url("../img/aniclot.png");
  background-size: cover;
}

.project__title {
  font-size: 45px;
  font-weight: bold;
  color: #9b0000;
  padding-top: 50px;
}

.button {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

@media (max-width: 1440px) {
  .section__projects {
    max-width: 1200px;
  }
}

@media (max-width: 1040px) {
  .section__projects {
    max-width: 1020px;
  }
}

@media (max-width: 800px) {
  .project__title {
    font-size: 30px;
  }
}
