.section__about {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.about__box {
  max-width: 600px;
}

.container__about {
  display: flex;
  justify-content: space-around;
}

.about__title {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
}

.about__text {
  font-style: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.soft__box-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.soft__list-item {
  list-style: none;
}

.soft__list-item + .soft__list-item {
  font-size: 16px;
  padding-top: 5px;
}

.slills__box-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
  align-items: center;
  text-align: center;
}

.skill__list-item {
  font-size: 16px;
  width: 100px;
  display: grid;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skill__list-item img {
  width: 80px;
  height: 80px;
}

@media (max-width:1480px) {
  .section__about {
    margin-bottom: 150px;
}
  .container__about {
    justify-content: center;
    gap: 200px;
  }

  .about__box {
    max-width: 600px;
  }

  .skills-list {
    gap: 20px 40px;
  }
}

@media (max-width:1170px) {
  .container__about {
    justify-content: center;
    gap: 80px;
  }
   .skills__box {
    max-width: 600px;
  }
}

@media (max-width:1040px) {
  .container__about {
    max-width: 600px;
    display: block;
    justify-content: center;
    margin: 0 auto;
  }

.about__box {
  margin-bottom: 40px;
}
}

@media (max-width:420px) {
  .skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 80px;
  align-items: center;
  text-align: center;
}
}
